@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #DB4437;
    box-shadow: 0 4px 1px -1px rgba(0, 0, 0, 0.2), 0 4px 1px 0 rgba(0, 0, 0, 0.14), 0 4px 3px 0 rgba(0, 0, 0, .12);
}

body {
    background-color: #fafafa;
}

main {
    margin-top: 200px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    height: 50px;
    background-color: #DB4437;
}

footer p {
    padding: 1%;
}

.reseaux img {
    position: fixed;
    width: 50px;
    right: 20px;
    bottom: 70px;
}

.navigation {
    margin: auto 10%;
}

.logo {
    float: left;
}

.logo img {
    margin-top: 10px;
}

.menu {
    float: right;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    margin-left: 1%;
}

.logo img:hover, .menu a:hover {
    animation: 0.5s forwards zoom;
}

.logo img, .menu a {
    animation: 0.5s forwards dezoom;
}

@keyframes zoom {
    from {
        height: 80px;
        margin-top: 10px;
    }

    to {
        height: 90px;
        margin-top: 5px;
    }
}

@keyframes dezoom {
    from {
        height: 90px;
        margin-top: 5px;
    }

    to {
        height: 80px;
        margin-top: 10px;
    }
}

.boite {
    margin: 5%;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.boite * {
    margin-bottom: 1%;
}

#infos {
    flex-direction: column;
    color: #DB4437;
}

#infos a {
    color: #DB4437;
}

#portrait, #nuagedemots {
    margin: 1%;
    border: solid 2px #9e9e9e;
    border-radius: 4px;
    width: 15%;
}

#nuagedemots {
    width: 50%;
}

#presentation {
    color: #0F9D58;
}

#presentation .texte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation h1 {
    padding-bottom: 3%;
}

#presentation p {
    text-align: justify;
    margin: 2%;
}

#presentation a {
    margin-top: 3%;
}

#nuagedemots {
    height: 100%;
}

#competences {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

#competences h1 {
    padding: 1%;
    width: 100%;
    align-items: center;
}

.competence {
    display: flex;
    margin: 1%;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.competence svg {
    margin: 10%;
}

.cercle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;

}

#competences:hover .cercle{
    animation: 3s ease progress;
}

.cercle-background {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.jaune .cercle {
    stroke: #f4b400;
}

.vert .cercle {
    stroke: #0F9D58;
}

.bleu .cercle {
    stroke: #4285F4;
}

.rouge .cercle {
    stroke: #DB4437;
}

.pourcentage {
    fill: #666;
    font-family: 'Roboto';
    font-size: 0.5em;
    text-anchor: middle;
}

#projets {
    flex-direction: column;
}

#projets h1, #contact h1 {
    padding: 1%;
}

#projets .texte {
    text-align: justify;
    margin: 0 1%;
}

#projets a {
    float: right;
    color: black;
    text-decoration: none;
    padding: 1%;
    margin-right: 3%;
    border-radius: 4px;
    background-color: #4285F4;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

#projets a:hover {
    opacity: 0.75;
}

.projet {
    display: flex;
    align-items: center;
    margin: 1% 0;
}

.projet img {
    width: 300px;
    margin: 1%;
}

#contact {
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#contact button {
    width: 30%;
    font-size: 24px;
    font-weight: 900;
    background-color: #f4b400;
    padding: 1%;
    border: none;
    margin: 3%;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

#contact button:hover {
    opacity: 0.75;
}

input, textarea {
    width: 80%;
    border: none;
    padding: 1%;
    border-radius: 4px;
    font-weight: 900;
    font-size: 16px;
    border-bottom: 1px solid #9e9e9e;
    background-color: #fafafa;
}

.saisie {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

input:focus, textarea:focus {
    border-color: #f4b400;
    outline: none;
}

textarea {
    resize: none;
    font-weight: 400;
}

#contact img {
    transform: translateY(30%);
}