/*CSS COMPETENCES*/
.competences {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  > :nth-child(even) {
    border-right: 1px solid $noir;
  }

  > :nth-child(10),
  > :nth-child(11) {
    border-top: 1px solid $noir;
  }

  h1 {
    width: 100%;
    padding: 36px;
    text-align: center;
  }

  .competence {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 50%;
    box-sizing: border-box;

    p {
      text-align: center;
      width: 40%;
    }

    .niveau {
      background-color: darken($blanc, 5);
      border-radius: 40px;
      align-items: center;
      position: relative;
      padding: 0 5px;
      display: flex;
      height: 40px;
      width: 60%;
      margin: 5%;
    }

    .valeur-niveau {
      border-radius: 30px;
      height: 30px;
    }

    .rouge {
      background-color: $rouge;
    }

    .jaune {
      background-color: $jaune;
    }

    .vert {
      background-color: $vert;
    }

    .bleu {
      background-color: $bleu;
    }
  }

  .auxiliaire {
    padding: 10px 0;

    p {
      width: 100%;
    }
  }
}

/*ANIMATIONS*/
@keyframes animation-niveau-55 {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

@keyframes animation-niveau-60 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes animation-niveau-65 {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@keyframes animation-niveau-70 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes animation-niveau-75 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes animation-niveau-80 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes animation-niveau-85 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes animation-niveau-90 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes animation-niveau-95 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}