/*CSS PRESENTATION*/
.presentation {
  flex-direction: row;
  color: $vert;

  h1 {
    padding: 36px;
  }

  p {
    padding-right: 16px;
  }

  img {
    height: 100px;
  }

  .image {
    width: 450px;
    height: 100%;
    border: 2px solid $vert;
  }

  .texte {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}