/*CSS PROJETS*/
.projets {
  flex-direction: column;

  h1 {
    padding: 36px;
  }

  .projet {
    width: 100%;

    display: flex;
    align-items: center;

    margin-bottom: 36px;

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;

      > img {
        width: 250px;
      }

      p {
        font-weight: 900;

        img {
          margin: 0 8px 0 0;
          position: relative;
          top: 2px;
        }
      }
    }

    .texte {
      width: 100%;
    }

    .liens-projet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a {
        color: black;
        background-color: $bleu;
        border-radius: 4px;
        margin-right: 12px;
        padding: 12px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        &:hover {
          background-color: darken($bleu, 10);
        }
      }

      p {
        background-color: $bleu;
        opacity: 0.60;
        border-radius: 4px;
        margin-right: 12px;
        padding: 12px;
        cursor: pointer;
      }
    }
  }

  .gauche {
    flex-direction: row;

    img {
      margin-left: 16px;
    }

    .texte {
      padding-right: 8px;
    }
  }

  .droite {
    flex-direction: row-reverse;

    img {
      margin-right: 16px;
    }

    .texte {
      padding-left: 8px;
    }
  }
}